/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  font-family: Arial, Helvetica, sans-serif;
}

div {
  display: flex;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
